* {
    margin: auto;
    padding: 0%;
    box-sizing: border-box;
}

body {
    background: linear-gradient(#0E2C40 70%, #1a4a5a);
    height: 100vh; 
    margin: 0;
}

.item-container {
    flex-direction: row;
    justify-content: space-between;
    display: flex;
}

#imagem-psicologia {
    border-radius: 15px;
    margin-top: 10px;
    margin-left: 10px;
}

.texto-header {
    color: #148D8D;
    align-items: center;
    display: flex;
    justify-content: center;
    margin-right: 20px;
}

.barra {
    width: 100%;
    height: 5px;
    background-color: #148D8D;
    margin-top: 10px;
}

.itens-graficos {
    width: 330px;
    height: 100px;
    background-color: rgba(254, 255, 255, 0.26);
    border-radius: 10px;
    margin-right: 40px;
}

.entrevista-img {
    margin-right: 10px;
}

.galeria-img {
    margin-left: 10px;
}

.itens-central {
    flex-direction: row;
    justify-content: space-between;
    display: flex;
}

.bloco-1 {
   border-radius: 10px;
   width: 700px;
   height: 700px;
   background-color: #efbc7528;
   margin-top: 30px;
}
.bloco-2 {
    border-radius: 10px;
    width: 700px;
    height: 700px;
    background-color: #efbc752c;
    margin-top: 30px;
}

.texto-caixa1 {
    text-align: center;
    justify-content: center;
    color: #C1E1A7;
    margin-top: 5px;

}

.texto-caixa2 {
    text-align: center;
    justify-content: center;
    color: #C1E1A7;
    margin-top: 5px;
}

.barra2 {
    width: 700px;
    height: 2px;
    background-color: #C1E1A7;
    margin-top: 10px;
}

.texto-exp1 {
    color: #C1E1A7;
    margin-top: 10px;
    margin-left: 30px;
    max-width: 600px;
}

.texto-exp2 {
    color: #C1E1A7;
    margin-top: 10px;
    margin-left: 30px;
}

/* footer é após tudos os css que estam no bloco central*/

.rodape {
    width: 100%;
    height: 220px;
}


